<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head.ejs') %> 

<body>
	<!-- Header -->
	<% if(logueado){ %>
		<%- include('./partials/headerLogueado.ejs') %> 
	<% } else{ %> 
		<%- include('./partials/header.ejs') %>
	<% } %> 
	 
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/home-banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<br>
				<br>
				<br>
				<br>
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i = 0; i < autos.length; i++) { %>	 
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<%= i %> ">
						<figure class="product-box_image">
							<img class="imagen-producto" src="<%= autos[i].imagen%>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%=autos[i].marca + " "+  autos[i].modelo + " "+ autos[i].anio + " "+  autos[i].color%></h2>
							<p><%= autos[i].descripcion%></p>
							<p>Comentarios: <%= autos[i].comentarios%></p>
						</article>
					</a>
				</section>
			</div>
		<% } %> 
			
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < autos.length; i++ ) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/products/<% i %> ">
						<figure class="product-box_image">
							<img class="imagen-producto" src="<%= autos[i].imagen%>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%= autos[i].marca + " "+  autos[i].modelo + " "+ autos[i].anio + " "+  autos[i].color%></h2>
							<p><%= autos[i].descripcion%></p>
							<p>Comentarios: <%= autos[i].comentarios%></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
			
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer.ejs') %> 
	<!-- /footer -->
</body>	
</html>