<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs') %>


<body>
	<!-- include Header -->
	<%- include('./partials/header.ejs') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for (let i=0; i < autos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/<%= i %> ">
							<figure class="product-box_image">
								<img src="<%= autos[i].imagen%>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2>
									<%=autos[i].marca + " " + autos[i].modelo + " " + autos[i].anio + " " + autos[i].color%>
								</h2>
								<p>
									<%= autos[i].descripcion%>
								</p>
								<p>Comentarios: <%= autos[i].comentarios%>
								</p>
							</article>
						</a>
					</section>
				</div>
				<% } %>


	<!-- include footer -->
	<%- include('./partials/footer.ejs') %>


	<!-- /footer -->
</body>

</html>